{% extends 'base.html.twig' %}

{% block title %}Ajouter un Bookmark{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1 class="mb-4">Formulaire {{ action is defined ? action : "d'ajout" }} d'un bookmark</h1>
        <div class="row">
            <div class="col-md-4">
                {{ form(formulaire_book_mark) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {% if baseUrl %}
                    <a href="/book/mark" class="btn btn-secondary">Accueil</a>
                {% endif %}
            </div>
        </div>

    </div>


{% endblock %}