<header>

    <!-- Jumbotron -->
    <div class="p-5 text-center bg-body-tertiary">
        <h1 class="mb-3">
            <img src="{{ asset('img/logo/symfony_black.svg') }}"
                 height=""
                 alt="symfony Logo"
            />
        </h1>
        <h4 class="mb-3">Symfony dans tous ses états !</h4>
    </div>
    <!-- Jumbotron -->
</header>