<header>

    <!-- Jumbotron -->
    <div class="p-5 text-center ">
        <h1 class="mb-3">
            <img src="{{ asset('img/logo/symfony_black.svg') }}"
                 height=""
                 alt="symfony Logo"
            />
        </h1>
        <div class="title-content">
            <h4>{{ 'header.slogan'|trans }}</h4>
            <h4>{{ 'header.slogan'|trans }}</h4>
        </div>
    </div>
    <!-- Jumbotron -->
</header>