{% extends 'base.html.twig' %}

{% block body %}

    <!-- Hero Section -->
    <header class="text-black text-center py-5">
        <div class="container">
            <h1 class="display-4">Bienvenue sur mon premier site Symfony</h1>
            <p class="lead">Visitez les différentes fonctionnalités du site.</p>
            <a href="/book/mark" class="btn btn-light btn-lg">Voir plus</a>
        </div>
    </header>




{% endblock %}